{% if page.quinary_content %}
  {{ page.quinary_content | markdownify }}
{% else %}
  <!-- Default quinary content -->
  <div style="display:flex; flex-direction:column; justify-content:center; height:100%; align-items:center;">
    <ul class="golden-quinary-links" style="display:flex; flex-direction:column; gap:1.0rem; margin:0; padding:0; list-style:none; text-align:center;">
      <li><h2><a href="/research">Research</a></h2></li>
      <li><h2><a href="/activism">Activism</a></h2></li>
      <li><h2><a href="/generative">Generative Art</a></h2></li>
    </ul>
  </div>
{% endif %}
