---
layout: default
---
<style>
  .wrapper {
    max-width: 50%;
    padding-right: 30px;
    padding-left: 30px;
  }
  </style>
<div class="home">
  <div class="content-wrapper" style="display: flex; gap: 2rem;">
    <div class="main-content" style="flex: 2;">
      {{ content }}
      
      {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>

    <div class="sidebar" style="flex: 1; max-width: 50%;">
      <div style="transform: scale(0.8); transform-origin: top left;">
        <script type="module" src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async></script>
        <bsky-embed
          username="g-adel.bsky.social"
          mode="light"
          limit="5"
          load-more="true"
        >
        </bsky-embed>
      </div>
    </div>
  </div>
</div>